# Database
DB_URL=jdbc:mysql://localhost:3306/pfplay?characterEncoding=UTF-8&useUnicode=true&serverTimezone=Asia/Seoul
DB_USERNAME=pfplay
DB_PASSWORD=

# Pytube Service API
PYTUBE_URI=http://localhost:9000
PYTUBE_API_KEY=pfplay_streaming
PYTUBE_API_SECRET=

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://localhost:3000/auth/callback/google

# Twitter OAuth2
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_REDIRECT_URI=http://localhost:3000/auth/callback/twitter

# JWT
JWT_SECRET=

# Production
PRODUCTION_DOMAIN=
